@font-face {
    src: url(../fonts/YesevaOne-Regular.ttf);
    font-family: YesevaOne;
    font-weight: 400;
}

@font-face {
    src: url(../fonts/Philosopher-Regular.ttf);
    font-family: Philosopher;
    font-weight: 400;
}

body, h1, h2 {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: YesevaOne, serif;
}